.u-section-1 .u-sheet-1 {
  min-height: 1107px;
}

.u-section-1 .u-shape-1 {
  width: 166px;
  height: 166px;
  margin: 192px auto 0 302px;
}

.u-section-1 .u-shape-2 {
  width: 296px;
  height: 296px;
  margin: 195px auto 0 718px;
}

.u-section-1 .u-group-1 {
  width: 510px;
  min-height: 458px;
  margin: -562px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-weight: 200;
  font-size: 3rem;
  margin: 50px 0 0;
}

.u-section-1 .u-image-1 {
  width: 201px;
  height: 201px;
  background-image: url("images/favicon1.png?rand=330f");
  background-position: 50% 50%;
  margin: -265px -130px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 84px 0 0;
}

.u-section-1 .u-shape-3 {
  width: 146px;
  height: 146px;
  margin: -20px 340px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 70px;
    margin-left: 61px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 281px;
    margin-right: 0;
    margin-left: 644px;
  }

  .u-section-1 .u-group-1 {
    width: 428px;
    min-height: 518px;
    margin-top: -311px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 128px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-left: 18px;
  }

  .u-section-1 .u-shape-2 {
    width: 254px;
    height: 254px;
    margin-top: 248px;
    margin-left: 424px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -307px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-shape-3 {
    width: 121px;
    height: 121px;
    margin-top: -159px;
    margin-right: 113px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 103px;
    height: 103px;
    margin-right: 419px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 228px;
    height: 228px;
    margin-top: 122px;
    margin-left: 244px;
  }

  .u-section-1 .u-group-1 {
    width: 366px;
    min-height: 507px;
    margin-top: -134px;
  }

  .u-section-1 .u-shape-3 {
    width: 91px;
    height: 91px;
    margin-top: -292px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-top: 282px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 197px;
    height: 197px;
    margin-top: -197px;
    margin-left: 44px;
  }

  .u-section-1 .u-group-1 {
    width: 292px;
    min-height: 525px;
    margin-top: -30px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: -319px;
    margin-right: -88px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 138px;
  }

  .u-section-1 .u-shape-3 {
    width: 71px;
    height: 71px;
    margin-top: -61px;
    margin-right: 14px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 47px;
}

.u-section-2 .u-text-1 {
  width: 700px;
  font-weight: 700;
  line-height: 1.3;
  margin: 1px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    height: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 433px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1194px;
  margin: 30px auto 10px -54px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 404px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 443px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-3 .u-text-1 {
  margin: 64px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 10px 35px;
}

.u-section-3 .u-icon-1 {
  color: rgb(64, 64, 64) !important;
  font-size: 1.2em;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 244px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: 42px;
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 366px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 230px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 629px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 95px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 471px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 256px;
  height: 256px;
  background-image: url("images/DiscordLogoCircle.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-4 .u-text-1 {
  margin: 12px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 18px auto 0;
  padding: 21px 83px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  margin: -79px -10px 0;
}

.u-section-4 .u-image-2 {
  width: 256px;
  height: 256px;
  background-image: url("images/1200px-YouTube_social_white_squircle_2017.svg.png");
  background-position: 100% 50%;
  margin: 45px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 17px auto 0;
  padding: 21px 83px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 256px;
  height: 256px;
  background-image: url("images/FIVERLOGO.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 12px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 18px auto 0;
  padding: 21px 83px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-image-1 {
    width: 232px;
    height: 232px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -39px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 232px;
    height: 232px;
    margin-top: 20px;
  }

  .u-section-4 .u-image-3 {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2165px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -63px;
    margin-right: 115px;
    margin-left: 92px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 44px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1422px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 7px;
    margin-left: 0;
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-2 {
    margin-top: 57px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 710px;
}

.u-section-5 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 60px 0;
}

.u-section-5 .u-image-1 {
  min-height: 590px;
  pointer-events: auto;
  background-image: url("images/questions.gif");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 590px;
  pointer-events: auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 178px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 10px 37px 11px 36px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 486px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-5 .u-image-1 {
    min-height: 372px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 414px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 90px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-5 .u-image-1 {
    min-height: 558px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 66px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 11px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-5 .u-image-1 {
    min-height: 351px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 87px;
    margin-left: 1px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 21px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 172px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 1.25rem;
  width: 700px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    height: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }
}